.App {
  text-align: center;
}
h2{
  box-shadow: 10px 10px lightblue;
}
button {
  background-color: teal;
  border: none;
  border-radius: 10px;
  text-shadow: 2px 2px 4px red;
  box-shadow: 10px 10px lightblue;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
table {
  box-shadow: 10px 10px lightblue;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 150px;
  margin: auto;
  overflow-wrap: ;
}

table td,  th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: teal;
  color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61fb8f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
  }
  .main_div{
    width:100%;
    height:150vh;
    background: #61dafb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .center_div{
    width: 50%;
    height: 120vh;
    background-color: rgb(245, 240, 255);
    box-shadow: 5px 5px 25px -5px rgba(2, 2, 2, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

